.body{
    background-color: white;
}

.title{
    background-color: rgb(199, 199, 199);
    
    text-align: center;
}

.title h1{
    font-size: 40px;
}

.title p{
    font-size: 20px;
}

.main{
    background-color: rgb(205, 203, 203);
}

img{
    width: 98%;
    justify-content: center;
    
    padding: 5px;
}

.img p{
    font-size: 20px;
    text-align: center;
}

.list{
    
    justify-items: center;
}

.list h3{
    text-align: center;
    font-size: 20px;
}

.list ul{
    font-size: 20px;
}